{# dump(result) #}


<div class="col-sm-{{ result.module.size }}">

    <div class="panel panel-default" id="module-{{ result.module.id }}">
        <div class="panel-heading" style="height: 38px;padding-right: 15%;">
            <h3 class="panel-title"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> <span class="module-title"></span></h3>
        </div>

        <div class="btn-group" style=" float: right; height: 38px; top: -39px; right: -1px;">
            <button id="LastSeenSwitch" type="button" class="btn btn-primary" data-loading-text="Loading..." autocomplete="off" style="float: left; height: 38px; top: 1px; right: -1px; border-radius: 0px;">Switch</button>
            <span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="glyphicon glyphicon-option-vertical btn btn-primary" aria-hidden="true" style="border-radius: 0px 5px 0px 0px; width: 40px; height: 38px; padding-right: 0px; padding-left: 4px; padding-bottom: 0px; padding-top: 8px; float: left;"></span>
            <ul class="dropdown-menu dropdown-menu-right" style=" top: 104%; right: 3px;">
                <li><a href="#">Change</a></li>
                <li><a href="#">Move</a></li>
                <li><a href="#" data-toggle="modal" data-target="#option-module-{{ result.module.id }}">Options</a></li></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" data-toggle="modal" data-target="#about-module-{{ result.module.id }}">About</a></li>
            </ul>
        </div>

        <div class="panel-body" style="height: 350px; width: 100%; position: relative;">
            <div id="loading-{{ result.module.id }}" class="loading">
                <div class="sk-folding-cube">
                    <div class="sk-cube1 sk-cube"></div>
                    <div class="sk-cube2 sk-cube"></div>
                    <div class="sk-cube4 sk-cube"></div>
                    <div class="sk-cube3 sk-cube"></div>
                </div>

            </div>

            <div id="module-{{ result.module.id }}-container" style="height: 320px;"></div>

        </div>
        <div class="panel-footer">{{ result.footer }}</div>
    </div>


</div>







<!-- About Modal -->
<div class="modal fade" id="about-module-{{ result.module.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
                <h4 class="modal-title" id="myModalLabel">About- {{ result.module.moduleInfo.name }}</h4>
            </div>
            <div class="modal-body">
                {{ result.module.moduleInfo.description }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Option Modal -->
<div class="modal fade" id="option-module-{{ result.module.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
                <h4 class="modal-title" id="myModalLabel">Options - {{ result.module.moduleInfo.name }}</h4>
            </div>
            <div class="modal-body">


                <p class="bg-primary" style="padding: 15px;">{{ result.module.moduleInfo.guide }}</p>


                <div>

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#presentation-{{ result.module.id }}" aria-controls="presentation" role="tab" data-toggle="tab">Presentation</a></li>
                        <li role="presentation"><a href="#filters-{{ result.module.id }}" aria-controls="filters" role="tab" data-toggle="tab">Filters</a></li>
                        <li role="presentation"><a href="#date-filters-{{ result.module.id }}" aria-controls="date-filters" role="tab" data-toggle="tab">Date Filters</a></li>
                        <li role="presentation"><a href="#categories-{{ result.module.id }}" aria-controls="categories" role="tab" data-toggle="tab">Categories</a></li>
                        <li role="presentation"><a href="#date_categories-{{ result.module.id }}" aria-controls="date_categories" role="tab" data-toggle="tab">Date Categories</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane active" id="presentation-{{ result.module.id }}">

                            <p class="bg-info" style="padding: 15px;">Please select the right presentation fo this module:</p>

                            <div class="row">
                                <div id="option-module-{{ result.module.id }}-presentation"  data-default="{{ conf.presentation }}" class="col-md-6">
                                    {% for presentation in presentations %}
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="presentation-{{ result.module.id }}" value="{{ presentation }}" {# if option == result.module.analytics %} checked="checked"{% endif #}>
                                                {{ presentation }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>


                        </div>

                        <div role="tabpanel" class="tab-pane" id="filters-{{ result.module.id }}">

                            <p class="bg-info" style="padding: 15px;">You can filter the result of this module within this tab:</p>

                            <div class="row">

                                <div id="option-module-{{ result.module.id }}-userType" class="col-md-4">
                                    <p class="bg-info" style="padding: 15px;">User Type</p>
                                    {% for type in user_types %}
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="userType-{{ result.module.id }}" value="{{ type }}" {% if conf.filters is not null and type in conf.filters.user_type %}data-default="checked"{% endif %}>
                                                {{ type }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>

                                <div id="option-module-{{ result.module.id }}-availability" class="col-md-4">
                                    <p class="bg-info" style="padding: 15px;">Availability</p>
                                    {% for availability in availabilities %}
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="availability-{{ result.module.id }}" value="{{ availability }}" {% if conf.filters is not null and availability in conf.filters.availability %}data-default="checked"{% endif %}>
                                                {{ availability }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>

                                <div id="option-module-{{ result.module.id }}-deviceType" class="col-md-4">
                                    <p class="bg-info" style="padding: 15px;">Device Type</p>
                                    {% for type in device_types %}
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="deviceType-{{ result.module.id }}" value="{{ type }}" {% if conf.filters is not null and type in conf.filters.device_type %}data-default="checked"{% endif %}>
                                                {{ type }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>

                            <div class="row">
                                <div id="option-module-{{ result.module.id }}-search" class="col-md-12" data-number="{% if conf.filters is not null %}{{ conf.filters.search|length }}{% else %}0{% endif %}">
                                    <p class="bg-info" style="padding: 15px;">You can search on the result by making a search request:</p>

                                    <div class="container-fluid" style="text-align: center;">
                                        <button class='btn btn-success' id="filter-search-{{ result.module.id }}-add">Add a search filter</button>
                                    </div>

                                    {% set index = 0 %}

                                    {% if conf.filters is not null %}

                                        {% for name, search in conf.filters.search %}
                                        <fieldset data-index="{{ index }}" id="filter-search-{{ index }}">
                                            <legend>{{ name }}<span class="multi-remove" style="color: #da0000;float: right;cursor: pointer;">X</span></legend>

                                            <div class="col-md-4">
                                                Title:
                                                <input id="filter-search-{{ result.module.id }}-title-{{ index }}" type="text" class="form-control" placeholder="Title" data-default="{{ name }}" style="margin-bottom: 10px;">
                                                Keyword:
                                                <input id="filter-search-{{ result.module.id }}-keyword-{{ index }}" type="text" class="form-control" placeholder="Keyword" data-default="{{ search.keyword }}" style="margin-bottom: 10px;">
                                            </div>

                                            <div class="col-md-4">
                                                <!-- don't use the actual fields' names -->
                                                Columns:
                                                <select multiple class="form-control" id="filter-search-{{ result.module.id }}-columns-{{ index }}" title="">
                                                    {% for column in searchColumns %}
                                                        <option value="{{ column }}" {% if column in search.columns %}data-default="checked"{% endif %}>{{ column }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="row">
                                                    Columns Operator:
                                                    <select class="form-control" id="filter-search-{{ result.module.id }}-col-op-{{ index }}" title="" data-default="{{ search.columnOperator }}">
                                                        <option value="and">AND</option>
                                                        <option value="or">OR</option>
                                                    </select>
                                                </div>

                                                <div class="row">
                                                    Expression Operator:
                                                    <select class="form-control" id="filter-search-{{ result.module.id }}-expr-op-{{ index }}" title="" data-default="{{ search.expressionOperator }}">
                                                        <option value="and">AND</option>
                                                        <option value="or">OR</option>
                                                    </select>
                                                </div>

                                                <div class="row">
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" id="filter-search-{{ result.module.id }}-negate-{{ index }}" value="negate" data-default="{{ search.negate }}">
                                                            Negate this search
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                        </fieldset>
                                            {% set index = index + 1 %}
                                        {% endfor %}

                                    {% endif %}

                                </div>
                            </div>


                        </div>

                        <div role="tabpanel" class="tab-pane" id="date-filters-{{ result.module.id }}">


                            <p class="bg-info" style="padding: 15px;">
                                Leave the left box to start from 2016/12/09!
                                <br>
                                Leave the right box to have a real-time graph!
                                <br>
                                You can also select a dynamic day.
                            </p>

                            <div class="container-fluid" style="text-align: center;">
                                <button class='btn btn-success' id="filter-date-{{ result.module.id }}-add">Add a date range filter</button>
                            </div>

                            <div id="option-module-{{ result.module.id }}-date" data-number="{% if conf.filters is not null %}{{ conf.filters.date|length }}{% else %}0{% endif %}">

                                {% set index = 0 %}

                                {% if conf.filters is not null %}

                                    {% for name, date in conf.filters.date %}

                                    <fieldset data-index="{{ index }}" id="filter-date-{{ index }}">
                                    <legend>{{ name }}<span class="multi-remove" style="color: #da0000;float: right;cursor: pointer;">X</span></legend>

                                    <div class="container-fluid">

                                        <div class="row">
                                            <div class="col-md-4">
                                                Title:
                                                <input id="filter-date-{{ result.module.id }}-title-{{ index }}" name="date-{{ result.module.id }}-title" type="text" class="form-control" placeholder="Title" data-default="{{ name }}" style="margin-bottom: 10px;">
                                            </div>
                                            <div class="col-md-4">
                                                <!-- load columns dynamically -->
                                                <!-- don't use the actual fields' names -->
                                                Column:
                                                <select class="form-control" id="filter-date-{{ result.module.id }}-column-{{ index }}" title="" data-default="{{ date.column }}">
                                                    {% for column in dateColumns %}
                                                        <option value="{{ column }}">{{ column }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="row">
                                                    Expression Operator:
                                                    <select class="form-control" id="filter-date-{{ result.module.id }}-expr-op-{{ index }}" title="" data-default="{{ date.operator }}">
                                                        <option value="and">AND</option>
                                                        <option value="or">OR</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="form-group col-sm-6">
                                                <div class="btn-group btn-group-xs dateButton from" role="group">
                                                    <button type="button" class="btn btn-info month" data-module-id="{{ result.module.id }}">A month ago</button>
                                                    <button type="button" class="btn btn-info week" data-module-id="{{ result.module.id }}">A week ago</button>
                                                    <button type="button" class="btn btn-info day" data-module-id="{{ result.module.id }}">Yesterday</button>
                                                </div>
                                            </div>

                                            <div class="form-group col-sm-6">
                                                <div class="btn-group btn-group-xs dateButton to" role="group" style="float: right">
                                                    <button type="button" class="btn btn-info month" data-module-id="{{ result.module.id }}">A month ago</button>
                                                    <button type="button" class="btn btn-info week" data-module-id="{{ result.module.id }}">A week ago</button>
                                                    <button type="button" class="btn btn-info day" data-module-id="{{ result.module.id }}">Yesterday</button>
                                                </div>
                                            </div>

                                        </div>


                                        <div class="row">

                                            <div class="form-group col-sm-5">
                                                <div class="input-group date fromDatetimepicker" data-default="{% if date.from is not null %}{{ date.from }}{% endif %}">
                                                    <input type="text" class="form-control" name="date-{{ result.module.id }}-from" id="filter-date-{{ result.module.id }}-from-{{ index }}" readonly="readonly">
                                                    <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                                </div>
                                            </div>

                                            <div class="form-group col-sm-2" style="text-align: center;margin-top: 5px;font-weight: bold;">To</div>

                                            <div class="form-group col-sm-5">
                                                <div class="input-group date toDatetimepicker" data-default="{% if date.to is not null %}{{ date.to }}{% endif %}">
                                                    <input type="text" class="form-control" name="date-{{ result.module.id }}-to" id="filter-date-{{ result.module.id }}-to-{{ index }}" readonly="readonly">
                                                    <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                                </div>
                                            </div>

                                        </div>


                                    </div>


                                </fieldset>

                                        {% set index = index + 1 %}
                                    {% endfor %}

                                {% endif %}

                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="categories-{{ result.module.id }}">

                            <div class="row">
                                <div id="option-module-{{ result.module.id }}-singleCat"  data-default="" class="col-md-12">
                                    <p class="bg-info" style="padding: 15px;">Single Categories</p>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="singleCat-{{ result.module.id }}" value="user_type" {% if conf.categories.single is not null and "user_type" in conf.categories.single %}data-default="checked"{% endif %}>
                                            User Type
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="singleCat-{{ result.module.id }}" value="availability" {% if conf.categories.single is not null and "availability" in conf.categories.single %}data-default="checked"{% endif %}>
                                            Availability
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="singleCat-{{ result.module.id }}" value="device_type" {% if conf.categories.single is not null and "device_type" in conf.categories.single %}data-default="checked"{% endif %}>
                                            Device Type
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div id="option-module-{{ result.module.id }}-category-search" class="col-md-12" data-number="{% if conf.categories.multi.search is not null %}{{ conf.categories.multi.search|length }}{% else %}0{% endif %}">
                                    <p class="bg-info" style="padding: 15px;">If you perform a search category, you would end up with adding two categories; matching and not matching the search.</p>

                                    <div class="container-fluid" style="text-align: center;">
                                        <button class='btn btn-success' id="cat-search-{{ result.module.id }}-add">Add a search category</button>
                                    </div>

                                    {% set index = 0 %}

                                    {% if conf.categories.multi.search is not null %}

                                        {% for name, search in conf.categories.multi.search %}

                                        <fieldset data-index="{{ index }}" id="cat-search-{{ index }}">
                                        <legend>{{ name }}<span class="multi-remove" style="color: #da0000;float: right;cursor: pointer;">X</span></legend>

                                        <div class="col-md-4">
                                            Title:
                                            <input id="cat-search-{{ result.module.id }}-title-{{ index }}" type="text" class="form-control" placeholder="Title" data-default="{{ name }}" style="margin-bottom: 10px;">
                                            Keyword:
                                            <input id="cat-search-{{ result.module.id }}-keyword-{{ index }}" type="text" class="form-control" placeholder="Keyword" data-default="{{ search.keyword }}" style="margin-bottom: 10px;">
                                        </div>

                                        <div class="col-md-4">
                                            Columns:
                                            <select multiple class="form-control" id="cat-search-{{ result.module.id }}-columns-{{ index }}" title="">
                                                {% for column in searchColumns %}
                                                    <option value="{{ column }}" {% if column in search.columns %}data-default="checked"{% endif %}>{{ column }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="row">
                                                Columns Operator:
                                                <select class="form-control" id="cat-search-{{ result.module.id }}-col-op-{{ index }}" title="" data-default="{{ search.columnOperator }}">
                                                    <option value="and">AND</option>
                                                    <option value="or">OR</option>
                                                </select>
                                            </div>

                                            <div class="row">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" id="cat-search-{{ result.module.id }}-negate-{{ index }}" value="negate" data-default="{{ search.negate }}">
                                                        Negate this search
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>

                                            {% set index = index + 1 %}
                                        {% endfor %}

                                    {% endif %}

                                </div>
                            </div>

                        </div>

                        <div role="tabpanel" class="tab-pane" id="date_categories-{{ result.module.id }}">




                                    <p class="bg-info" style="padding: 15px;">
                                        Leave the left box to start from 2016/12/09!
                                        <br>
                                        Leave the right box to have a real-time graph!
                                        <br>
                                        You can also select a dynamic day.
                                    </p>


                                    <div class="container-fluid" style="text-align: center;">
                                        <button class='btn btn-success' id="cat-date-{{ result.module.id }}-add">Add a date range category</button>
                                    </div>

                                    <div id="option-module-{{ result.module.id }}-category-date" data-number="{% if conf.categories.multi.date is not null %}{{ conf.categories.multi.date|length }}{% else %}0{% endif %}">

                                        {% set index = 0 %}

                                        {% if conf.categories.multi.date is not null %}

                                            {% for name, date in conf.categories.multi.date %}
                                        <fieldset data-index="{{ index }}" id="cat-date-{{ index }}">
                                            <legend>{{ name }}<span class="multi-remove" style="color: #da0000;float: right;cursor: pointer;">X</span></legend>


                                        <div class="container-fluid">


                                            <div class="row">
                                                <div class="col-md-4">
                                                    Title:
                                                    <input id="cat-date-{{ result.module.id }}-title-{{ index }}" name="date-{{ result.module.id }}-title" type="text" class="form-control" placeholder="Title" data-default="{{ name }}" style="margin-bottom: 10px;">
                                                </div>
                                                <div class="col-md-4">
                                                    <!-- load columns dynamically -->
                                                    <!-- don't use the actual fields' names -->
                                                    Column:
                                                    <select class="form-control" id="cat-date-{{ result.module.id }}-column-{{ index }}" title="" data-default="{{ date.column }}">
                                                        {% for column in dateColumns %}
                                                            <option value="{{ column }}">{{ column }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="row">

                                                <div class="form-group col-sm-6">
                                                    <div class="btn-group btn-group-xs dateButton from" role="group">
                                                        <button type="button" class="btn btn-info month" data-module-id="{{ result.module.id }}">A month ago</button>
                                                        <button type="button" class="btn btn-info week" data-module-id="{{ result.module.id }}">A week ago</button>
                                                        <button type="button" class="btn btn-info day" data-module-id="{{ result.module.id }}">Yesterday</button>
                                                    </div>
                                                </div>

                                                <div class="form-group col-sm-6">
                                                    <div class="btn-group btn-group-xs dateButton to" role="group" style="float: right">
                                                        <button type="button" class="btn btn-info month" data-module-id="{{ result.module.id }}">A month ago</button>
                                                        <button type="button" class="btn btn-info week" data-module-id="{{ result.module.id }}">A week ago</button>
                                                        <button type="button" class="btn btn-info day" data-module-id="{{ result.module.id }}">Yesterday</button>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">

                                                <div class="form-group col-sm-5">
                                                    <div class="input-group date fromDatetimepicker" data-default="{% if date.from is not null %}{{ date.from }}{% endif %}">
                                                        <input type="text" class="form-control" name="date-{{ result.module.id }}-from" id="cat-date-{{ result.module.id }}-from-{{ index }}" readonly="readonly">
                                                        <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                                    </div>
                                                </div>

                                                <div class="form-group col-sm-2" style="text-align: center;margin-top: 5px;font-weight: bold;">To</div>

                                                <div class="form-group col-sm-5">
                                                    <div class="input-group date toDatetimepicker" data-default="{% if date.to is not null %}{{ date.to }}{% endif %}">
                                                        <input type="text" class="form-control" name="date-{{ result.module.id }}-to" id="cat-date-{{ result.module.id }}-to-{{ index }}" readonly="readonly">
                                                        <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                                    </div>
                                                </div>

                                            </div>


                                        </div>


                                    </fieldset>

                                                {% set index = index + 1 %}
                                            {% endfor %}

                                        {% endif %}

                                </div>



                        </div>

                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success option-module-save" data-module-id="{{ result.module.id }}">Save</button>
            </div>
        </div>
    </div>
</div>





























<style>

    .highcharts-title {
        display: none;
    }
    .highcharts-container{
        top: -23px;
    }
</style>



<script>
    {#
    var all_data = [];
    {% for dataSet in result.all_data %}

        var data_data = [];
        {% for value in dataSet.data %}
            data_data.push({
                {% if value.x is defined %} x: '{{ value.x }}' ,{% endif %}
                {% if value.y is defined %} y: {{ value.y }} ,{% endif %}
                name: '{{ value.name }}'
            });
        {% endfor %}

        all_data.push({
            name: '{{ dataSet.name }}',
            //type: '{ dataSet.type }}',
            data: data_data,

            {% if dataSet.yAxis is defined and dataSet.yAxis is not null %}
            yAxis: {{ dataSet.yAxis }},
            {% endif %}

            tooltip: {
                {% if dataSet.tooltip is defined and dataSet.tooltip == 'percentage' %}
                pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: {point.y:.2f} %<br/>'
                {% endif %}
            }

            {% if dataSet.color is defined and dataSet.color is not null %}
            ,
            color: '{{ dataSet.color }}'
            {% endif %}

            {% if result.xAxisType is defined and result.xAxisType == 'datetime' %}
            ,
            pointStart: Date.UTC({{ result.start.year }}, {{ result.start.month }}, {{ result.start.day }}),  //set to module!!
            pointInterval: {{ result.xInterval }}
            {% endif %}
        });

    {% endfor %}
#}


    var all_data = [];
    {% for dataSet in result.all_data %}



    var data_data = [];
    {% for value in dataSet.data %}
    data_data.push({
        {% if value.x is defined %} x: '{{ value.x }}' ,{% endif %}
        {% if value.y is defined %} y: {{ value.y }} ,{% endif %}
        name: '{{ value.name }}'
    });
    {% endfor %}




    all_data.push({
        name: '{{ dataSet.name }}',
        type: '{{ dataSet.type }}',
        data: data_data,

        {% if dataSet.yAxis is defined and dataSet.yAxis is not null %}
        yAxis: {{ dataSet.yAxis }},
        {% endif %}

        tooltip: {
            {% if dataSet.tooltip is defined and dataSet.tooltip == 'percentage' %}
            pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: {point.y:.2f} %<br/>'
            {% endif %}
        }

        {% if dataSet.color is defined and dataSet.color is not null %}
        ,
        color: '{{ dataSet.color }}'
        {% endif %}

        {% if result.xAxisType is defined and result.xAxisType == 'datetime' %}
        ,
        pointStart: Date.UTC({{ result.start.year }}, {{ result.start.month }}, {{ result.start.day }}),  //set to module!!
        pointInterval: {{ result.xInterval }}
        {% endif %}
    });

    {% endfor %}



    Highcharts.getOptions().plotOptions.pie.colors = (function () {
        var colors = [];
        {% for color in result.color %}
        colors.push('{{ color }}');
        {% endfor %}
        return colors;
    }());



    var module{{ result.module.id }} = Highcharts.chart('module-{{ result.module.id }}-container', {
        chart: {
            zoomType: 'x',
            panning: true,
            panKey: 'shift'
            /*,events: {
                load: function () {
                    var series = this.series[0];
                    setInterval(function () {
                        series.setData(data1);
                    }, 1000);
                }
            }*/
        },
        title: {
            text: '{{ result.title }}'
        },
        tooltip: {
            {% if result.tooltip_shared is defined and result.tooltip_shared is not null %}
                shared: {{ result.tooltip_shared }}
            {% endif %}
        },
        xAxis: {
            title: {
                text: '{{ result.xTitle }}'
            }

            {% if result.xAxisType is defined and result.xAxisType == 'datetime' %}
            ,
            type: '{{ result.xAxisType }}',
            dateTimeLabelFormats: {
                hour: '%e %b, %Y %H:%M',
                day: '%e %b, %Y',
                week: '%e %b, %Y',
                month: '%e %b, %Y',
                year: '%e %b, %Y'
            }
            {% endif %}

        },
        yAxis: [
            {
                title: {
                    text: '{{ result.yTitle }}'
                }

                {% if result.yMax is defined and result.yMax is not null %}
                ,max: {{ result.yMax }}
                {% endif %}

                {% if result.yAllowDecimals is defined and result.yAllowDecimals is not null %}
                , allowDecimals: false
                {% endif %}
            }
            {% if result.y1Title is defined and result.y1Title is not null %} //should be more general
            ,
            {
                title: {
                    text: '{{ result.y1Title }}'
                },
                labels: {
                    format: '{{ result.y1Format }}'
                },
                opposite: true
                {% if result.y1Max is defined and result.y1Max is not null %}
                ,max: {{ result.y1Max }}
                {% endif %}

                {% if result.y1AllowDecimals is defined and result.y1AllowDecimals is not null %}
                , allowDecimals: false
                {% endif %}
            }
            {% endif %}
        ],
        plotOptions: {
            line: {
                allowPointSelect: false,
                marker: {
                    enabled: false
                }
            },
            pie: {
                shadow: true,
                size: {{ result.size }},
                slicedOffset: {{ result.size * 0.07 }},
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            },
            column: {
                stacking: 'normal'
            },
            series: {
                turboThreshold: 0 // wtf
            }
        },

        series: all_data
    });


</script>