{% extends 'dashboard/menubar.html.twig' %}

{% block title %}VDP{{ version }} Dashboard{% endblock %}

{% block body %}
    <div class="container-fluid" style="margin-top: 50px;" id="dashboard">
        <div id="renderPage" style="margin-top: 10px;" data-page-render-url="{{ path("page_modules", {'id': 'page_id'}) }}" data-set-module-conf="{{ path("set_module_conf", {'id': 'module_id'}) }}" data-id-module_current="{{ currentPage.id }}" data-url-module_add="{{ path("module_add", {'id': 'page_id'}) }}" data-url-module_remove="{{ path("module_remove", {'id': 'module_id'}) }}">
            <div id="modules" data-module-render-url="{{ path('render_module', {'id': 'module_id'}) }}" data-module-search-url="{{ path('get_module_search', {'id': 'module_id', 'section' : 'module_section', 'index' : 'module_index'}) }}" data-module-date-url="{{ path('get_module_date', {'id': 'module_id', 'section' : 'module_section', 'index' : 'module_index'}) }}" data-module-edit-url="{{ path('module_edit', {'id': 'module_id'}) }}">
                <!-- modules -->
            </div>
        </div>
    </div>


    <!-- Add New Module Modal -->
    <div class="modal fade" id="js_modal_new_module" tabindex="-1" role="dialog" aria-labelledby="AddNewModule" data-url-module_add="{{ path("module_add_start") }}">
        <div class="modal-dialog" role="document" style="width: 70%;">
            <div class="modal-content">
                <div class="modal-header ">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
                    <h4 class="modal-title">Adding new module to {{ currentPage.name }}</h4>
                </div>
                <div class="modal-body">


                    <p class="bg-primary" style="padding: 15px;">
                        Adding a new module...
                    </p>


                    <div class="js_init"></div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success option-module-save">Add</button> <!-- make it js_button_add_module -->
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirmModuleRemoval" tabindex="-1" role="dialog" aria-labelledby="confirmModuleRemoval">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header ">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
                    <h4 class="modal-title" id="myModalLabel">Remove Module</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove this module from this page?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
                    <button type="button" class="btn btn-danger" id="doRemoveModule">Remove</button>
                </div>
            </div>
        </div>
    </div>

    <style>
        .loading{
            display: none;
            position: absolute;
            top: 120px;
            left: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.62);
            z-index: 10;
        }
        #header-fixed {
            position: fixed;
            top: 50px;
            display:none;
            background-color:white;
            width: 100%; padding-right: 60px;
        }
        th, td{
            width: 100px;
            /*border-left: 1px solid #ddd;*/
        }
        .sk-folding-cube {
            margin: 20px auto;
            width: 40px;
            height: 40px;
            position: relative;
            -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
        }

        .sk-folding-cube .sk-cube {
            float: left;
            width: 50%;
            height: 50%;
            position: relative;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }
        .sk-folding-cube .sk-cube:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #333;
            -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
            -webkit-transform-origin: 100% 100%;
            -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }
        .sk-folding-cube .sk-cube2 {
            -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
        }
        .sk-folding-cube .sk-cube3 {
            -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
        }
        .sk-folding-cube .sk-cube4 {
            -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
        }
        .sk-folding-cube .sk-cube2:before {
            -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
        }
        .sk-folding-cube .sk-cube3:before {
            -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
        }
        .sk-folding-cube .sk-cube4:before {
            -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
        }
        @-webkit-keyframes sk-foldCubeAngle {
            0%, 10% {
                -webkit-transform: perspective(140px) rotateX(-180deg);
                transform: perspective(140px) rotateX(-180deg);
                opacity: 0;
            } 25%, 75% {
                  -webkit-transform: perspective(140px) rotateX(0deg);
                  transform: perspective(140px) rotateX(0deg);
                  opacity: 1;
              } 90%, 100% {
                    -webkit-transform: perspective(140px) rotateY(180deg);
                    transform: perspective(140px) rotateY(180deg);
                    opacity: 0;
                }
        }

        @keyframes sk-foldCubeAngle {
            0%, 10% {
                -webkit-transform: perspective(140px) rotateX(-180deg);
                transform: perspective(140px) rotateX(-180deg);
                opacity: 0;
            } 25%, 75% {
                  -webkit-transform: perspective(140px) rotateX(0deg);
                  transform: perspective(140px) rotateX(0deg);
                  opacity: 1;
              } 90%, 100% {
                    -webkit-transform: perspective(140px) rotateY(180deg);
                    transform: perspective(140px) rotateY(180deg);
                    opacity: 0;
                }
        }

        .ui-state-highlight {
         background-color: #efefef;
        }
        .tab-pane legend {
            padding: 5px;
            background-color: #e1eaff;
            box-shadow: 0 0 20px 0px #e1e2ff;
            cursor: move;
            border: none;
        }

        /*.modal-dialog {
            width: 650px;
        }*/
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/dashboard.js') }}"></script>
{% endblock %}