{% extends 'dashboard/menubar.html.twig' %}

{% block title %}VDP{{ version }} Dashboard{% endblock %}

{% block body %}
    <div class="container-fluid" style="margin-top: 50px;" id="dashboard">
        <div id="renderPage" style="margin-top: 10px;" data-page-render-url="{{ path("page_modules", {'id': 'page_id'}) }}" data-page-id-first-load="{{ currentPage.id }}">
            <div id="modules" data-module-render-url="{{ path('render_module', {'id': 'module_id'}) }}">
                <!-- modules -->
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/dashboard.js') }}"></script>
{% endblock %}