{% extends 'base.html.twig' %}

{% block title %}VDP{{ version }} Dashboard{% endblock %}

{% block navBar %}

    <nav class="navbar navbar-inverse navbar-fixed-top" style="box-shadow: 0 0 25px -10px rgb(255, 162, 5);">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.vaster.com">
                    <img alt="vaster" height="25px" src="{{ asset('images/ic_launcher-web.png') }}" style="border-radius: 50%;margin-top: -4px;">
                </a>
                <a class="navbar-brand" href="http://www.vaster.com">Vaster</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li {% if app.request.get('_route') == 'dashboard' or app.request.get('_route') == 'dashboard_alter' %} class="active" {% endif %} ><a href="{{ path('dashboard') }}">Dashboard <span class="sr-only">(current)</span></a></li>
                    <!--<li class="" ><a href="#">Settings</a></li>-->

                    {% if app.request.get('_route') == 'dashboard' or app.request.get('_route') == 'dashboard_alter' %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Edit <span class="caret"></span></a>
                        <ul class="dropdown-menu" id="editList">
                            <li><a href="#" class="js_link_add_module" data-toggle="modal" data-target="#js_modal_new_module" >Add Module</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Manage Modules</a></li>
                        </ul>
                    </li>
                    {% endif %}

                    <li class {% if app.request.get('_route') == 'manage_pages' %} ="active" {% else %} ="dropdown" {% endif %}>
                        <a href="#" class="dropdown-toggle"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
                        <ul class="dropdown-menu" id="pageList">
                            {% for page in pages %}
                                <li><a data-pageid="{{ page.id }}" href="{% if app.request.get('_route') != 'dashboard' and app.request.get('_route') != 'dashboard_alter' %}{{ path('dashboard') ~ "/" ~ page.id }}{% else %}#{% endif %}" class="js_page_render">{{ page.name }}</a></li>
                            {% endfor %}
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('manage_pages') }}">Manage Pages</a></li>
                        </ul>
                    </li>



                    <li class="" ><a href="{{ path('user_management') }}">Administration</a></li>
                </ul>
                <!-- search form
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" id="clock" style="font-size: 16px;color: aliceblue;font-weight: bold; display: none;">Server Time (UTC): 00/00/0000 @ 00:00</a></li>
                    <li><a href="#" data-toggle="modal" data-target="#changeLog">VDP{{ version }}</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ vasterUser.firstname ~ " " ~ vasterUser.lastname }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Edit</a></li>
                            {% if is_granted('ROLE_USER') %}
                                <li><a href="{{ path('security_logout') }}">Logout</a></li>
                            {% endif %}

                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!-- Change Log Modal -->
    <div class="modal fade" id="changeLog" tabindex="-1" role="dialog" aria-labelledby="changeLog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Change Log</h4>
                </div>
                <div class="modal-body">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">VDP0.6</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Wizard</h3><span class="label label-primary">Stable</span><span class="label label-warning">Needs Improvement</span>
                                    <div class="change-log">
                                        <p>
                                            The wizard has been implemented to help the user add or edit a module.
                                            VDP0.6 gives the option to user to add, edit and remove modules from the dashboard main page.
                                            With changing the graph type in the layout tab, other tabs would be updated so the options related to that specific
                                            graph type be accessible.
                                        </p><p>
                                            In addition, wizard helps both user and the system to assure that the inputs are valid and usable.
                                            To create such a tool, API has been changed a lot and module API is now mature. However, dashboard API is still
                                            handling some functionality related to managing modules, which should be removed from in next versions.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>'Search Queries' Filter and Categories data</h3><span class="label label-success">Done</span>
                                    <div class="change-log">
                                        <p>
                                            Search Queries are now available to be used to filter or categorise module' data. This means adding new columns from
                                            tables which have Many To One relationship with the users table has been made easier.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>More Date-Time Columns to Filter and Categories data</h3><span class="label label-success">Done</span>
                                    <div class="change-log">
                                        <p>
                                            Last seen and search time has been added to the list of date filters and categories.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Remove Empty Results</h3><span class="label label-success">Done</span>
                                    <div class="change-log">
                                        <p>
                                            This feature would allow users to hide or unhide the categories with zero results.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Columns Aliases</h3><span class="label label-success">Done</span>
                                    <div class="change-log">
                                        <p>
                                            Columns in search and date filters now have a more user friendly names.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Clock: UTC time</h3><span class="label label-success">Done</span>
                                    <div class="change-log">
                                        <p>
                                            A clock has been added to the top menu. This clock is in UTC but it's not the server time. It's showing the local machine time in UTC.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>New Categorizing Logic</h3><span class="label label-success">Done</span>
                                    <div class="change-log">
                                        <p>
                                            As of VDP0.6, the logic of categorizing using search and date fields has been changed.
                                        </p><p>
                                            This means, each category would actually work like a separate graph but using the same filters as other categories.
                                            There is no "NOT" category added to the modules anymore.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Sortable Categories</h3><span class="label label-success">Done</span>
                                    <div class="change-log">
                                        <p>
                                            Categories can be sorted from now on. This would helpful in cases that the importance of some categories are more than others.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Sub Modules / Data Sources</h3><span class="label label-primary">Stable</span><span class="label label-warning">Needs Improvement</span>
                                    <div class="change-log">
                                        <p>
                                            Sub modules are designed to help make the structure of VDP simpler. They are responsible to grab the data from the database
                                            and pass it to the module. They are implemented in a way that each graph type can use them, so the code would be reusable.
                                        </p><p>
                                            The interaction of sub modules and categories would create a good structure to implement the snapshots in future.
                                        </p><p>
                                            'Searches' and 'Last Seen' have been added as new data sources. Data sources are actually the address of the sub modules in
                                            the system. Another way of looking at data sources is that they are the columns that grabbing the data would be started from.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Change Log</h3><span class="label label-primary">Stable</span><span class="label label-warning">Needs Improvement</span>
                                    <div class="change-log">
                                        <p>
                                            As of VDP0.6, change log has been implemented to help the users to have a better
                                            understanding of the new functionality that have been developed for them.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <style>
        p {
            text-align: justify;
            text-indent: 10px;
            margin-bottom: 5px;
        }
        p:last-child {
            margin-bottom: 0;
        }
        .change-log {
            border-bottom: 1px solid #dddddd;
            margin-bottom: 25px;
            margin-top: 22px;
            background-color: #f5f5f5;
            padding: 10px;
            border-radius: 5px 5px 15px 15px;
        }
        #changeLog .panel-body h3 {
            float: left;
            margin-top: -8px;
            margin-bottom: 0;
            text-shadow: 0 0 3px #7b2c08;
        }
        #changeLog span {
            float: left;
            margin-left: 7px;
            margin-top: -3px;
        }
    </style>
{% endblock %}


{% block body %}

{% endblock %}

