{% extends 'dashboard/dashboard.html.twig' %}

{% block title %}VDP{{ version }} Dashboard{% endblock %}

{% block body %}
    <div class="container-fluid" style="margin-top: 50px;">
        <div id="renderPage" style="margin-top: 10px;" data-page-render-url="{{ path("render_page", {'id': 'page_id'}) }}" data-page-id-first-load="{{ currentPage.id }}"></div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/dashboard.js') }}"></script>
{% endblock %}