{# page.id #}
<br>

<script>
    //setInterval(loadTable, 2000);

    function formatDate(date) {
        var d = new Date(date),
            minute = '' + d.getMinutes(),
            hour = '' + d.getHours(),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) month = '0' + month;
        if (day.length < 2) day = '0' + day;

        return [year, month, day].join('-') + " " + [hour, minute].join(':');
    }

    function getRenderPath(parameter) {
        var path = '{{ path('render_module', {'id': 'replace_parameter'}) }}';
        return path.replace("replace_parameter", parameter);
    }

    function renderModule(id) {
        $.ajax({
            url: getRenderPath(id),
            success: function (data) {
                $("#renderModule-" + id).html(data);
            }
        });
    }

    function configModule(id, data) {
        $.ajax({
            url: 'api/module/' + id,
            type: 'post',
            data: data,
            success: function (data) {
                alert(data);
                renderModule(id);
            }
        });
    }

    $( "#modules" ).on( "click", ".option-module-save", function() {
        var id = $(this).attr('data-module-id');

        var analytics = $("#option-module-" + id + "-analytics" + " input[name='analytics']:checked").val();
        var userType = $("#option-module-" + id + "-userType" + " input[name='userType']:checked").val();
        var keyword = $("#option-module-" + id + "-keyword").val();
        var fromDate = formatDate(new Date(2017, 5, 12, 9, 56));
        var toDate = null;

        configModule(id, {
            'analytics' : analytics,
            'userType' : userType,
            'keyword' : keyword,
            'fromDate' : fromDate,
            'toDate' : toDate
        });

        $('#option-module-' + id).modal('hide');
    });

    $( document ).ready(function() {
        //show loading
        $('.jqui-date-picker').datepicker().datepicker("option", "dateFormat", "yy-mm-dd");

    });

</script>



<div class="row" id="modules">
{% for module in modules %}


        <div class="col-sm-6">

            <div class="panel panel-default" id="module-{{ module.id }}">
                <div class="panel-heading" style="height: 38px;padding-right: 15%;">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> <span class="module-title"></span></h3>
                </div>

                <div class="btn-group" style=" float: right; height: 38px; top: -39px; right: -1px;">
                    <button id="LastSeenSwitch" type="button" class="btn btn-primary" data-loading-text="Loading..." autocomplete="off" style="float: left; height: 38px; top: 1px; right: -1px; border-radius: 0px;">Switch</button>
                    <span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="glyphicon glyphicon-option-vertical btn btn-primary" aria-hidden="true" style="border-radius: 0px 5px 0px 0px; width: 40px; height: 38px; padding-right: 0px; padding-left: 4px; padding-bottom: 0px; padding-top: 8px; float: left;"></span>
                    <ul class="dropdown-menu dropdown-menu-right" style=" top: 104%; right: 3px;">
                        <li><a href="#">Change</a></li>
                        <li><a href="#">Move</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#option-module-{{ module.id }}">Options</a></li></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" data-toggle="modal" data-target="#about-module-{{ module.id }}">About</a></li>
                    </ul>
                </div>

                <div class="panel-body" style="height: 450px; width: 100%;">

                    <div id="renderModule-{{ module.id }}"></div>

                </div>
                <div class="panel-footer"></div>
            </div>


        </div>







    <!-- About Modal -->
    <div class="modal fade" id="about-module-{{ module.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header ">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
                    <h4 class="modal-title" id="myModalLabel">About- {{ module.moduleInfo.name }}</h4>
                </div>
                <div class="modal-body">
                    {{ module.moduleInfo.description }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Option Modal -->
    <div class="modal fade" id="option-module-{{ module.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header ">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
                    <h4 class="modal-title" id="myModalLabel">Options - {{ module.moduleInfo.name }}</h4>
                </div>
                <div class="modal-body">


                    <p class="bg-primary" style="padding: 15px;">{{ module.moduleInfo.guide }}</p>

                    <div id="option-module-{{ module.id }}-analytics">

                        <p class="bg-info" style="padding: 15px;">Please select the analytics type for this specific module:</p>

                    {% for name, option in module.moduleInfo.availableAnalytics %}

                        <div class="radio">
                            <label>
                                <input type="radio" name="analytics" value="{{ option }}">
                                {{ name }}
                            </label>
                        </div>

                    {% endfor %}
                    </div>


                    <div id="option-module-{{ module.id }}-userType">

                        <p class="bg-info" style="padding: 15px;">Please select one of the user type filters:</p>

                        <div class="radio">
                            <label>
                                <input type="radio" name="userType" id="user-all" value="all">
                                All Users
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="userType" id="user-standard" value="standard">
                                Standard User
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="userType" id="user-internal" value="internal">
                                Internal User
                            </label>
                        </div>
                        <div class="radio disabled">
                            <label>
                                <input type="radio" name="userType" id="user-premium" value="premium" disabled>
                                Premium User
                            </label>
                        </div>
                    </div>


                    <p class="bg-info" style="padding: 15px;">You can search on the result by typing the keyword down blow:</p>

                    <input id="option-module-{{ module.id }}-keyword" name="keyword" type="text" class="form-control" placeholder="Keyword">


                    <p class="bg-info" style="padding: 15px;">You can select the starting date of the data down blow:</p>



                    <div class="input-daterange input-group" id="datepicker">
                        <input type="text" class="input-sm form-control" name="start" />
                        <span class="input-group-addon">to</span>
                        <input type="text" class="input-sm form-control" name="end" />
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success option-module-save" data-module-id="{{ module.id }}">Save</button>
                </div>
            </div>
        </div>
    </div>



    <script>
        renderModule('{{ module.id }}');
    </script>
{% endfor %}
</div>


