{% extends 'base.html.twig' %}

{% block title %}VDP {{ version }} - Login{% endblock %}

{% block body %}
    <div class="container" style="max-width: 700px; margin-top: 50px;">

        {% set foo = null %}

        {% for message in app.flashes('success_logout') %}
                {% set foo = message %}
        {% endfor %}

        {% if error %}
            <div class="alert alert-danger" role="alert">
                <b>Error!</b> {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% elseif foo is defined and foo is not null %}
            <div class="alert alert-success" role="alert">
                <b>Perfect!</b> {{ foo }}
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                <b>Welcome!</b> Please login to the VDP{{ version }}! Need to <b><a href="{{ path('user_register') }}">register</a></b>?
            </div>
        {% endif %}

        {{ form_start(form, {
            'attr': {'style': 'max-width: 500px;', 'class': 'container'}
        }) }}

        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
            {{ form_widget(form._username, {
                'attr': {'placeholder': 'Email'}
            }) }}
        </div>
        <br>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></span>
            {{ form_widget(form._password, {
                'attr': {'placeholder': 'Password'}
            }) }}
        </div>
        <br>

        <div class="btn-group btn-group-lg" role="group" aria-label="..." style="float: right">
            <button type="submit" name="submit" class="btn btn-default">Login</button>
        </div>

        {{ form_end(form) }}


    </div>
{% endblock %}